# Python
__pycache__/
.venv/
venv/
.env
*.pyc

# Tests
.pytest_cache/
test_result.xml
*.log

# IDE
.vscode/
.idea/

# Key 
*.pem
*.key
*.pub
github_actions*

# OS
.DS_Store
Thumbs.db

# Project
static/uploads/
logs/
