[Unit]
Description=webhook
After=network.target

[Service]
Type=simple
User=da
Group=da
WorkingDirectory=/home/da/lab1_OIS
ExecStart=/usr/bin/python3 /home/da/lab1_OIS/webhook.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
